*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input, button, textarea, select { font-family: inherit; }
html, body { overscroll-behavior: none; }
